<!DOCTYPE html>
<html>
<head>
	<title>Elearning</title>
</head>
<body>	
	<div class="top-main">
		<div class="top-message">
			<h2>English E-learning</h2>
			<p>Study Languages! e-learning - anytime, anywhere</p>
		</div>
	</div>
	
</body>
</html>











